#buttons{
    margin-top: 20px;


}

#giphy-form {
    float: right;
    margin-top: 50px;
    clear: both;
    width: 30%;
    font-style: bold;
    

}

#giphy-view {
    float: left;
    margin-top: 50px;
    width: 50%;

}

button {
    color: white;
    background-color: rgb(38, 148, 137);
    margin-right: 5px;
    margin-top: 5px;

}